/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Cabin", sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.wpp {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem;
  width: 9.5rem;
  justify-content: center;

  border: 1px solid #250C40;
  border-radius: 10px;
  color: #fff;
  background-color: #250C40;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #E9D4FF;

  font-size: 1.1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

li a {
  color: #350766;
  transition: color .3s;
  transition: background .3s;
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 15%;
}

li a:hover {
  color: #E9D4FF;
  background: #501a8aa7;
}

/* MAIN */
main {
  background-color: #fbf7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

section {
  margin-block: 1.5rem;
  padding-inline: 1.5rem;
}

section .wpp {
  align-self: center;
}

section#home {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 65%;

  gap: .7rem;
}

.right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right img {
  width: 175px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #E9D4FF;
}

footer ul {}